<div class="autoscroll">
<table class="list issues odd-even">
  <thead>
    <tr>
      <% query.inline_columns.each do |column| %> <%# TODO: avoid calling query method from view %>
        <%= column_header(query, column) %>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% contacts.each do |contact| %>
    <tr id="contact-<%= contact.id %>" class="<%= cycle('odd', 'even') %>">
      <% query.inline_columns.each do |column| %>
        <%# Move column_content to ContactsHelper or other way to build link for contact 'name' %>
        <%= content_tag('td', column.name == :name ?
                                  link_to(column_content(column, contact), contact_path(contact.project, contact)) :
                                  column_content(column, contact), :class => column.css_classes) %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
