<div class="autoscroll">
<table class="list issues odd-even">
  <thead>
    <tr>
      <th><%= l(:label_contact_name) %></th>
    </tr>
  </thead>
  <tbody>
  <% contacts.each do |contact| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td>
        <%= link_to contact.name, contact_path(@project, contact) %>
        <%=  %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
